<!DOCTYPE html>
<html data-theme="cupcake" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- daisy UI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.33.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- fontawesom -->
    <script src="https://kit.fontawesome.com/a1b67211ba.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header bg-zinc-800 mx-auto text-center pb-16">
        <h1 class="text-zinc-50 text-6xl font-bold py-16">The best way to learn to code</h1>
        <div class="desc text-zinc-200 text-2xl font-normal mb-8">
            <p>Courses designed by experts with real-world practice.</p>
            <p>Join our global community. <span class="font-bold">It's free.</span></p>
        </div>
        <button class="btn btn-wide btn-info rounded-md hover:bg-sky-700">Start Learning Now</button>
    </div>

    <!-- info -->
    <div style="background-color: #F2F5F7" class="pb-24">
        <div class="container mx-auto pt-20 grid grid-cols-3 gap-8">
            <!-- 1 -->
            <div class="card shadow-md bg-white rounded-md">
                <figure class="pt-10">
                    <img src="images/card-1.svg" alt="Shoes" class="rounded-xl" />
                </figure>
                <div class="card-body items-center text-center pb-20">
                    <h2 class="card-title text-4xl font-bold mb-8">Tailored to you</h2>
                    <p class="text-xl text-slate-500">No matter your experience level, you'll be writing <span
                            class="font-bold">real, functional code within minutes</span> of starting your first course.
                    </p>
                </div>
            </div>
            <!-- 2 -->
            <div class="card shadow-md bg-white rounded-md">
                <figure class="pt-10">
                    <img src="images/card-2.svg" alt="Shoes" class="rounded-xl" />
                </figure>
                <div class="card-body items-center text-center pb-20">
                    <h2 class="card-title text-4xl font-bold mb-8">Tailored to you</h2>
                    <p class="text-xl text-slate-500">No matter your experience level, you'll be writing <span
                            class="font-bold">real, functional code within minutes</span> of starting your first course.
                    </p>
                </div>
            </div>
            <!-- 3 -->
            <div class="card shadow-md bg-white rounded-md">
                <figure class="pt-10">
                    <img src="images/card-3.svg" alt="Shoes" class="rounded-xl" />
                </figure>
                <div class="card-body items-center text-center pb-20">
                    <h2 class="card-title text-4xl font-bold mb-8">Tailored to you</h2>
                    <p class="text-xl text-slate-500">No matter your experience level, you'll be writing <span
                            class="font-bold">real, functional code within minutes</span> of starting your first course.
                    </p>
                </div>
            </div>
            <!-- 4 -->
            <div class="card lg:card-side bg-white shadow-md rounded-md col-span-2 grid grid-cols-2">
                <figure><img src="images/card-4.svg" alt="Album" /></figure>
                <div class="flex flex-col gap-6 self-center">
                    <h2 class="text-4xl font-bold">Learning on the go</h2>
                    <p>Learn on the web or on the go. Sololearn is always ready for you and you'll never lose your
                        place.</p>
                    <div class="flex gap-8">
                        <a href="#">
                            <i class="fa-brands fa-app-store-ios text-4xl hover:text-sky-700"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-google-play text-4xl hover:text-teal-700"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <div class="card bg-base-100 shadow-md bg-white rounded-md">
                <figure class="pt-10">
                    <img src="images/card-3.svg" alt="Shoes" class="rounded-xl" />
                </figure>
                <div class="card-body items-center text-center pb-20">
                    <h2 class="card-title text-4xl font-bold mb-8">Tailored to you</h2>
                    <p class="text-xl text-slate-500">No matter your experience level, you'll be writing <span
                            class="font-bold">real, functional code within minutes</span> of starting your first course.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- key aspect -->
    <div class="bg-white py-24">
        <div class="key-aspect container mx-auto text-center">
            <h1 class="w-2/4 mx-auto text-5xl font-bold mb-28">The perfect platform to boost your technical skills</h1>
            <div class="aspects flex gap-8">
                <div class="students flex flex-col gap-8 basis-1/2">
                    <img src="images/students.svg" alt="students">
                    <h2 class="text-4xl font-bold">Students</h2>
                    <p class="text-xl text-slate-500 w-4/6 mx-auto">Prepping for the big test or want to ace your first
                        interview? Use Sololearn's real-world practice to reinforce what you've learned and get you
                        ready for that big moment.</p>
                </div>
                <div class="professionals flex flex-col gap-8 basis-1/2">
                    <img src="images/professionals.svg" alt="professionals">
                    <h2 class="text-4xl font-bold">Professionals</h2>
                    <p class="text-xl text-slate-500 w-4/6 mx-auto">You can learn something totally new to advance your
                        career. Or maybe you just want to knock off the rust. Try Sololearn to get access to a variety
                        of courses, from machine learning to web development.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- contact -->
    <div class="bg-gray-900">
        <div class="container mx-auto py-24">
            <h1 class="text-slate-200 text-center text-6xl font-semibold pb-16">Contact</h1>
            <section class="py-6 dark:bg-gray-900 dark:text-gray-50">
                <div class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x pb-16">
                    <div class="py-6 md:py-0 md:px-6">
                        <h1 class="text-4xl font-bold">Get in touch</h1>
                        <p class="pt-2 pb-4">Fill in the form to start a conversation</p>
                        <div class="space-y-4">
                            <p class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="w-5 h-5 mr-2 sm:mr-6">
                                    <path fill-rule="evenodd"
                                        d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span>Fake address, 9999 City</span>
                            </p>
                            <p class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="w-5 h-5 mr-2 sm:mr-6">
                                    <path
                                        d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
                                    </path>
                                </svg>
                                <span>123456789</span>
                            </p>
                            <p class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="w-5 h-5 mr-2 sm:mr-6">
                                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z">
                                    </path>
                                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                                </svg>
                                <span>contact@business.com</span>
                            </p>
                        </div>
                    </div>
                    <form novalidate=""
                        class="flex flex-col py-6 space-y-6 md:py-0 md:px-6 ng-untouched ng-pristine ng-valid">
                        <label class="block">
                            <span class="mb-1">Full name:</span>
                            <input type="text" placeholder="Leroy Jenkins"
                                class="block w-full mt-2 px-3 py-2 rounded-sm shadow-sm focus:ring focus:ring-opacity-75 focus:ring-violet-400 dark:bg-gray-800">
                        </label>
                        <label class="block">
                            <span class="mb-1">Email address:</span>
                            <input type="email" placeholder="leroy@jenkins.com"
                                class="block w-full mt-2 px-3 py-2 rounded-sm shadow-sm focus:ring focus:ring-opacity-75 focus:ring-violet-400 dark:bg-gray-800">
                        </label>
                        <label class="block">
                            <span class="mb-1">Message:</span>
                            <textarea rows="3"
                                class="block w-full mt-2 px-3 py-2 rounded-sm focus:ring focus:ring-opacity-75 focus:ring-violet-400 dark:bg-gray-800"></textarea>
                        </label>
                        <button type="button"
                            class="self-center px-8 py-3 text-lg rounded focus:ring hover:ring focus:ring-opacity-75 dark:bg-sky-400 dark:text-gray-900 focus:ring-sky-400 hover:ring-sky-400">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!-- footer -->
    <div class="bg-gray-800 text-center">
        <div class="container mx-auto py-4">
            <p class="text-slate-200">Made with 💓 | ©2022 All rights reserved</p>
        </div>
    </div>

</body>

</html>